
@import './variables.scss';

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  white-space: nowrap;
}

.search-form-container {
  box-sizing: padding-box;
  padding: 2em 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1024px;
  
  .form__container {
    width: 100%;
    max-width: 442px;
    
    .search__button {
      margin-top: 18px;
    }
  }
}